body {
    background-image: url(../img/burgertall.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    text-align: center;
    padding: 35px;
  }
  
  h2,
  ul {
    color: white;
    font-weight: 70px;
  }
  
  
  h2 {
    font-size: 22px;
    color: red;
    background-color: white;
  }
   
 p {
   background-color: white;
   color: red;
   font-weight: 150px;
 }
  
 
  .deleteButton {
    background-color: red;
    margin: 25px;
    color: white;
  }
  
  .devourButton {
    border: 1px solid red;
    color: red;
  }
  
  .addBurger {
    border-radius: 5px solid red;
    color: white; 
    background-color: red;

  }

  
  